<%- include('../template/header')-%>

<body>
    <header>
        <div class="header-gutter">
            <a href="//webcull.com" class="logo-link">
                <img class="logo" src="//webcull.com/static/images/logo/webcull-white-128x.png">
                <span class="logo-text">WebCull</span>
            </a>
        </div>
    </header>
    <div id="loader" class="hidden">
        <div class="outer">
            <div class="middle">
                <div class="inner">
                    <div class="sk-folding-cube">
                        <div class="sk-cube1 sk-cube"></div>
                        <div class="sk-cube2 sk-cube"></div>
                        <div class="sk-cube4 sk-cube"></div>
                        <div class="sk-cube3 sk-cube"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('../template/auth-form')-%>

    <%- include('../template/footer')-%>

</body>

</html>